{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block titulo %}Registrar endereço | {% endblock %}

{% block conteudo %}
<div class="row">
    <div class="col-lg">
        <h1>Registrar endereço</h1>
        <form method="post" action="{% url 'perfil:registrarendereco' %}">
            {% csrf_token %}
            {{ registrarenderecoform|crispy }}
            <button type="submit" class="btn btn-primary btn-block btn-lg">
                Salvar
            </button>
        </form>
    </div>
</div>
{% endblock %}
