{% load vffilters %}

<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'produto:listaprodutos' %}">Loja</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
            <!-- TODO: Adicionar as opções para o usuário logado -->
            <li class="nav-item active">
                <a class="nav-link" href="#">Opção<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Opções
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'pedido:listapedidos' %}">Meus pedidos</a>
                    <a class="dropdown-item" href="{% url 'perfil:listaenderecos' %}">Meus endereços</a>
                    <a class="dropdown-item" href="{% url 'perfil:atualizar' %}">Alterar cadastro</a>
                    <a class="dropdown-item" href="{% url 'perfil:atualizarsenha' %}">Alterar senha</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'perfil:logout' %}">Sair</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'perfil:registrar' %}">Entrar<span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            {% if request.session.carrinho|length %}
            <li class="nav-item">
                <a class="nav-link nav-cart-link active" href="{% url 'produto:carrinho' %}">
                    <span class="nav-cart-text mr-1">
                        Carrinho
                    </span>
                    <span class="nav-cart-count mr-1">
                        <strong>{{ request.session.carrinho|qtd_total_carrinho }}x</strong>
                    </span>
                    <span class="nav-cart-icon mr-2">
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                </a>
            </li>
            {% endif %}
        </ul>
        <form method="get" action="{% url 'produto:busca' %}" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" value="{{ request.GET.termo }}" type="search" placeholder="Busca"
                aria-label="Busca" name="termo">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Busca</button>
        </form>
    </div>
</nav>
